@AvenirNextCyr-Regular  : "AvenirNextCyr-Regular";
@AvenirNextCyr-Medium  : "AvenirNextCyr-Medium";
@TrajanPro3Regular  : "TrajanPro3Regular";
@TrajanPro3SemiBold  : "TrajanPro3SemiBold";


@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: url("../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.eot");
    src: url("../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.woff") format("woff"),
    url("../fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "AvenirNextCyr-Medium";
    src: url("../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.eot");
    src: url("../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.woff") format("woff"),
    url("../fonts/AvenirNextCyr-Medium/AvenirNextCyr-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TrajanPro3Regular";
    src: url("../fonts/TrajanPro3Regular/TrajanPro3-Regular.eot");
    src: url("../fonts/TrajanPro3Regular/TrajanPro3-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TrajanPro3Regular/TrajanPro3-Regular.woff") format("woff"),
    url("../fonts/TrajanPro3Regular/TrajanPro3-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TrajanPro3SemiBold";
    src: url("../fonts/TrajanPro3SemiBold/TrajanPro3SemiBold.eot");
    src: url("../fonts/TrajanPro3SemiBold/TrajanPro3SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TrajanPro3SemiBold/TrajanPro3SemiBold.woff") format("woff"),
    url("../fonts/TrajanPro3SemiBold/TrajanPro3SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}