/*! HTML5 Boilerplate v6.0.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Imports
   ========================================================================== */
@import "fonts.less";

@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1600px;
@screen-lg-min: 1601px;
@screen-lg-max: 1920px;
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   custom styles
   ========================================================================== */

a {
  color: #000;
  transition: all 400ms ease;
  outline: none !important;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active, &:focus {
    outline: none !important;
    text-decoration: none;
  }
}

h3 {
  color: #afa18f;
  font-family: @TrajanPro3Regular;
  font-size: 30px;
  line-height: 63px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.14em;
  @media (max-width: @screen-md-max) {
    font-size: 24px;
    line-height: 53px;
  }
}

h4 {
  margin: 0;
  color: #afa18f;
  font-family: @TrajanPro3Regular;
  font-size: 18px;
  margin-top: 45px;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

p {
  font-size: 14px;
  font-family: @AvenirNextCyr-Regular;
  margin: 0;
  @media (max-width: @screen-md-max) {
    font-size: 11px;
    margin-bottom: 30px;
  }
  @media (max-width: @screen-xs-max) {
    font-size: 11px;
    margin-bottom: 10px;
  }
}

.btn-order {
  background: #fff;
  border: none;
  padding: 0;
  height: 30px;
  font-family: @AvenirNextCyr-Regular;
  font-weight: bold;
  letter-spacing: 0.04em;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    margin-top: 5px;
    background: #dbc8ac;
    transition: width .4s ease;
  }
  &:hover::after {
    width: 100%;
  }
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.c-section {
  height: 100vh;
  @media (max-width: @screen-xs-max) {
    height: auto;
  }
}

.section-intro, .c-section-head, .c-section-head-rooms, .c-section-head-rooms-item {
  margin-top: 90px;
}

.section-intro {
  @media (max-width: @screen-xs-max) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.section-service {

  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
}

.section-others {
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  @media (max-width: @screen-xs-max) {
    width: auto;
    height: auto;
    margin: 0;
    flex-direction: column;
  }
}

.section-rest-image {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.c-section-head {
  margin-bottom: 200px;
}

.c-section-head-rooms {
  margin-bottom: 80px;
  @media (max-width: @screen-xs-max) {
    margin-bottom: 0;
  }
}

.c-section-head-restaurants {
  margin-bottom: 0;
}

.c-section-head-rooms-item {
  margin-bottom: 150px;
}

.section-reservation, .section-quotes, .section-jobs-quotes {
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
}

.section-reservation {
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.section-quotes, .section-jobs-quotes {
  width: 80%;
  position: relative;
  margin: 0 auto;
  flex-direction: row-reverse;
}

.section-jobs-quotes {
  height: 50vh;
  margin-bottom: 80px;
  @media (max-width: @screen-xs-max) {
    height: 180px;
    margin-bottom: 0;
  }
}

.section-sophistication, .section-business {
  height: 50vh;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  @media (max-width: @screen-xs-max) {
    height: auto !important;
    display: block;
    margin-bottom: 50px;
  }
}

.section-competence {
  height: 70vh;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  @media (max-width: @screen-xs-max) {
    align-items: inherit;
    height: auto;
    margin-bottom: 40px;
  }
}

.section-rooms-index {
  display: flex;
  align-items: center;
  @media (max-width: @screen-xs-max) {
    margin-bottom: 50px;
  }
}

.section-rooms, .section-restaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  @media (max-width: @screen-xs-max) {
    height: auto;
    margin-top: 80px;
  }
}

.section-restaurants {
  @media (max-width: @screen-xs-max) {
    margin-top: 0;
    margin: 50px 0;
  }
}

.section-feedback-form {
  height: 60vh;
  align-items: center;
}

.section-manager {
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: @screen-xs-max) {
    height: auto;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
}

.section-map {
  @media (max-width: @screen-xs-max) {
    height: 670px;
  }
}

.section-diploma {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 auto;
  height: 50vh;
  @media (max-width: @screen-xs-max) {
    width: auto;
    flex-direction: column-reverse;
    margin-top: 15px;
    height: auto;
    padding: 15px;
  }
}

.c-container {
  max-width: 62.5%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: @screen-xs-max) {
    max-width: none;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.c-container-column {
  @media (max-width: @screen-xs-max) {
    display: flex;
    flex-direction: column !important;
  }
}

.c-container-column-reverse {
  @media (max-width: @screen-xs-max) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.c-container-lg {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
}

.c-container-competence {
  max-width: 68.5%;
  @media (max-width: @screen-xs-max) {
    max-width: none;
    padding: 15px;
  }
}

.c-container-form {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  @media (max-width: @screen-xs-max) {
    width: auto;
    padding: 15px;
    flex-direction: column;
  }
}

.active {
  background: #ede3d5;
  outline: none;
  display: block;
  &:hover {
    background: #ede3d5;
  }
}

.about-text {
  margin-bottom: 60px;
}

/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: #fff;
  z-index: 999;
}

.c-header__logo {
  width: 90px;
  height: 90px;
  background-color: #dbc8ac;
  display: -webkit-inline-flex;
  float: right;
  margin-right: 163px;
  @media (max-width: @screen-xs-max) {
    margin-right: 0;
  }
}

.c-header__lang {
  display: -webkit-inline-flex;
  align-items: center;
  float: right;
  margin-right: 60px;
  height: 90px;
  @media (max-width: @screen-xs-max) {
    margin-right: 20px;
  }
}

.c-header__info {
  display: -webkit-inline-flex;
  align-items: center;
  height: 90px;
  margin-left: 23%;
  .info-description {
    font-family: @TrajanPro3Regular;
    font-size: 20px;
    color: #111;
    letter-spacing: 0.14em;
    transition: all 400ms ease;
    @media (max-width: @screen-md-max) {
      font-size: 18px;
    }
  }
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.c-header__collapse-menu {
  display: -webkit-inline-flex;
  align-items: center;
  float: left;
  #menuToggle {
    display: block;
    position: fixed;
    top: 38px;
    left: 170px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    @media (max-width: @screen-xs-max) {
      left: 40px;
    }
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 23px;
    height: 1px;
    margin-bottom: 5px;
    position: relative;
    background: #111111;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #111111;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*This is the Menu part, which gets triggered by toggle*/
  #menu {
    position: absolute;
    width: 95vw;
    height: 90vh;
    margin: 34px 0 0 -170px;
    padding: 50px;
    background: #ede3d5;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    text-align: center;
    @media (max-width: @screen-xs-max) {
      width: 100vw;
      height: 100vh;
      margin: 34px 0 0 -60px;
      padding: 0 50px;
      overflow-y: scroll;
    }
  }

  #menu li {
    margin-left: 200px;
    padding: 15px 0;
    color: #bcb4a9;
    text-align: left;
    list-style-type: none;
    font-family: @TrajanPro3Regular;
    font-size: 20px;
    font-weight: 300;
    @media (max-width: @screen-xs-max) {
      margin-left: 0;
    }
  }

  #menu li a {
    color: #bcb4a9;
    text-decoration: none;
    text-transformation: uppercase
  }

  #menu li a:hover {
    color: #111111;
    text-decoration: none;
  }

  #menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }
}

.lang-item {
  line-height: 90px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: @AvenirNextCyr-Regular;
  padding: 0 10px;
  &:hover {
    color: #afa18f;
  }
}

.c-introduction, .c-introduction-by {
  height: 215px;
  background-color: #fff;
  float: left;
  width: 550px;
  position: absolute;
  padding-left: 50px;
  padding-right: 62px;
  padding-bottom: 47px;
  padding-top: 45px;
  margin-top: 200px;
  margin-left: 142px;
  z-index: 998;

  @media (max-width: @screen-md-max) {
    height: 190px;
    width: 380px;
    padding: 40px 50px;
    margin-top: 70px;
    margin-left: 115px;
  }
  @media (max-width: @screen-xs-max) {
    height: auto;
    padding: 15px;
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    position: static;
    float: none;
    z-index: 997;
  }
}

.c-introduction-by {
  z-index: 996;
  .c-introduction__title {
    h3 {
      font-size: 23px;
    }
  }
  @media (max-width: @screen-xs-max) {
    display: none;
  }
  .c-introduction-desc {
    display: flex;
    justify-content: space-between;
    .c-introduction-desc-item {
      display: flex;
      flex-direction: column;
      select {
        width: 50px;
        background: white;
        border: none;
        box-shadow: none;
        outline: none;
      }
    }
  }
}

.c-introduction-desc, .c-attributes-desc {
  font-size: 14px;
  line-height: 22px;
  font-family: @AvenirNextCyr-Regular;
  margin-bottom: 43px;
  letter-spacing: 0.04em;
  @media (max-width: @screen-md-max) {
    line-height: 19px;
    margin-bottom: 15px;
  }
}

.c-attributes-desc {
  padding-top: 50%;
  p {
    font-size: 16px;
    @media (max-width: @screen-md-max) {
      font-size: 12px;
    }
  }
  @media (max-width: @screen-md-max) {
    padding-top: 0;
    margin: 130px 0 0 40px;
  }
  @media (max-width: @screen-xs-max) {
    padding-top: 0;
    margin: 15px 0 0 0;
  }
}

.contact-address {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin-top: 20px;
  .c-introduction__contact-item {
    font-family: @AvenirNextCyr-Medium;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #111111;
    margin: 0 3px 0 0;
  }
}

.contact-data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  .data-item {
    font-family: @AvenirNextCyr-Regular;
    font-size: 16px;
    color: #111111;
    line-height: 26px;
    a {
      &:hover {
        border-bottom: 1px solid #111111;
      }
    }
  }
}

.c-competence-desc, .c-restaurant-desc {
  padding-top: 100%;
  margin-bottom: 43px;
  p {
    font-size: 16px;
    font-family: @AvenirNextCyr-Regular;
    @media (max-width: @screen-md-max) {
      font-size: 12px;
    }
    @media (max-width: @screen-xs-max) {
      font-size: 14px;
    }
  }
  @media (max-width: @screen-md-max) {
    padding-top: 0;
    margin: 130px 0 0 40px;
  }
  @media (max-width: @screen-xs-max) {
    margin: 15px 0 30px 0;
  }
}

.c-restaurant-desc {
  padding-top: 90%;
}

.c-info__action {
  font-family: @AvenirNextCyr-Regular;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.04em;
  a {
    display: inline-block;

  }

  a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    margin-top: 5px;
    background: #dbc8ac;
    transition: width .4s ease;
  }

  a:hover::after {
    width: 100%;
  }

  @media (max-width: @screen-md-max) {
    font-size: 14px;
  }
}

.owl-carousel {
  width: inherit;
}

.intro-slider, .room-slider__left-edge, .room-slider__right-edge {
  height: 75vh;
  width: 70%;
  position: relative;
  float: right;
  @media (max-width: @screen-xs-max) {
    width: 100%;
  }
}

.intro-slider {
  @media (max-width: @screen-xs-max) {
    height: 40vh;
  }
}

.room-slider__right-edge, .room-slider__left-edge {
  img {
    height: 75vh;
    object-fit: cover;
  }
  @media (max-width: @screen-xs-max) {
    height: 48vh;
  }
}

.room-slider__left-edge {
  float: left;
}

.c-content-edge1, .c-content-edge2, .c-content-edge3, .c-content-edge4, .c-content-edge5, .c-content-edge6 {
  width: 100%;
}

.c-content-edge1, .c-content-edge2, .c-content-edge3, .c-content-edge4, .c-content-edge5, .c-content-edge6 {
  .item {
    img {
      @media (max-width: @screen-xs-max) {
        width: 100%;
        height: 48vh;
      }
    }
  }
}

.fadeOut {
  width: 100%;
  .item {
    img {
      object-fit: cover;
      height: 75vh;
      @media (max-width: @screen-xs-max) {
        height: 40vh;
      }
    }
  }
}

.intro-slider-item {
  background: url(../img/introduction1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
  width: 100%;
  float: right;
}

.intro-slider-item__second {
  background: url(../img/house1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
  width: 100%;
  float: right;
}

.intro-slider-item__third {
  background: url(../img/house2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
  width: 100%;
  float: right;
}

.intro-slider-item, .intro-slider-item__second, .intro-slider-item__third {
  @media (max-width: @screen-xs-max) {
    height: 40vh;
  }
}

.c-social {
  float: left;
  width: 30%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 995;
  background: #fff;
  margin-top: 90px;
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.c-social__item {
  width: 24px;
  height: 24px;
  margin-top: 28px;
  margin-left: 141px;
  .ico-social {
    position: absolute;
    height: 26px;
    width: 26px;
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 300ms ease;
    border: 1px solid transparent;
    border-radius: 100px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
    @media (max-width: @screen-md-max) {
      background-size: 22px;
      height: 22px;
      width: 22px;
    }
  }
  .fb {
    background-image: url(../img/ico-fb.png);
  }
  .inst {
    background-image: url(../img/ico-inst.png);
  }
  .vk {
    background-image: url(../img/ico-vk.png);
  }
}

.intro-slider__nav, .s_offers-slider__nav, .edge-slider__nav {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 998;
  .item {
    width: 200px;
  }
  .nav-prev, .nav-next {
    width: 40px;
    height: 40px;
    background: #dbc8ac;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    cursor: pointer;
    &:hover {
      background: #978675;
    }
    .arrow-next, .arrow-prev {
      position: absolute;
      height: 16px;
      width: 9px;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .arrow-next {
      background: url(../img/nav-next.png);
    }
    .arrow-prev {
      background: url(../img/nav-prev.png);
    }

  }
}

.intro-slider__nav {
  @media (max-width: @screen-xs-max) {
    margin-right: 30px;
    left: auto;
    right: 0;
  }
}

.room {
  position: relative;
  height: 75vh;
  img {
    height: 75vh;
    object-fit: cover;
  }
  @media (max-width: @screen-xs-max) {
    height: 400px;
    margin-bottom: 40px;
  }
}

.nav_business, .nav_studio, .nav_representative, .nav_apartment, .nav_presidential {
  .item {
    img {
      @media (max-width: @screen-xs-max) {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
  }
}

.room-slider__nav {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  position: absolute;
  bottom: -20px;
  right: 0;
  z-index: 998;
  .nav-prev, .nav-next {
    width: 40px;
    height: 40px;
    background: #dbc8ac;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    cursor: pointer;
    &:hover {
      background: #978675;
    }
    .arrow-next, .arrow-prev {
      position: absolute;
      height: 16px;
      width: 9px;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .arrow-next {
      background: url(../img/nav-next.png);
    }
    .arrow-prev {
      background: url(../img/nav-prev.png);
    }

  }
}

.b-item-slider__nav {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
  .nav-prev, .nav-next {
    margin-top: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    cursor: pointer;
    .arrow-next, .arrow-prev {
      position: absolute;
      height: 13px;
      width: 8px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 26px;
    }
    .arrow-next {
      background: url(../img/b-item-arrow-right.png);
    }
    .arrow-prev {
      background: url(../img/b-item-arrow-left.png);
    }
    @media (max-width: @screen-xs-max) {
      margin-top: 0;
    }
  }
  @media (max-width: @screen-xs-max) {
    width: 100%;
  }
}

.s_offers-slider__nav {
  bottom: 180px;
  left: 286px;
  margin-left: 0;
  @media (max-width: @screen-md-max) {
    bottom: 63px;
    left: 192px;
    margin-left: 0;
  }
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.bg-logo, .bg-logo-rest {
  display: inline-flex;
  position: absolute;
  background-image: url(../img/mirage.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 141px;
  width: 720px;
  height: 600px;
  @media (max-width: @screen-xs-max) {
    display: none;
  }
  @media (max-width: @screen-md-max) {
    left: 50px;
    margin-top: 50px;
  }
}

.bg-logo-rest {
  background-image: url(../img/Milli.svg);
  background-size: 720px;
}

.c-section-info {
  width: 50%;
  position: relative;
  z-index: 997;
  .c-info {
    width: 70%;
    margin: 0 auto;
    @media (max-width: @screen-xs-max) {
      width: 100%;
      margin-top: 20px;
    }
  }
  @media (max-width: @screen-xs-max) {
    width: 100%;
  }
}

.c-section-competence__info {
  width: 40%;
  position: relative;
  z-index: 997;
  .c-info {
    width: 70%;
    margin: 0 auto;
    @media (max-width: @screen-md-max) {
      margin-top: 20px;
    }
    @media (max-width: @screen-xs-max) {
      width: auto;
      margin-top: 0;
    }
  }
  @media (max-width: @screen-xs-max) {
    width: auto;
  }
}

.c-block-img {
  width: 50%;
  position: relative;
  @media (max-width: @screen-xs-max) {
    width: 100%;
  }
}

.c-competence-block {
  width: 60%;
  position: relative;
  @media (max-width: @screen-xs-max) {
    width: 100%;
  }
}

.competence-img__info-left, .competence-img__info-right, .restaurant-img__info-left, .restaurant-img__info-right {
  display: inline-flex;
  align-items: flex-end;
  position: absolute;
  z-index: 998;
  left: -460px;
  top: 360px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-family: @TrajanPro3Regular;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.14em;
  color: #afa18f;
  width: 100%;
  @media (max-width: @screen-md-max) {
    left: -207px;
    top: 172px;
    font-size: 22px;
  }
  @media (max-width: @screen-xs-max) {
    position: static;
    -webkit-transform: none;
    transform: none;
    align-items: center;
    font-size: 16px;
    width: 100%;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #afa18f;
    width: 218px;
    margin-left: 20px;
    padding: 0;
    position: relative;
    bottom: -15px;

    @media (max-width: @screen-md-max) {
      width: 152px;
      bottom: -13px;
    }
    @media (max-width: @screen-xs-max) {
      margin-left: auto;
      width: 100%;
      max-width: 95px;
      bottom: auto;
      border-top: 1px solid #afa18f;
    }
  }
  #small-hall {
    width: 266px;
    @media (max-width: @screen-md-max) {
      width: 210px;
    }
  }
  #decision-hall {
    width: 203px;
    @media (max-width: @screen-md-max) {
      width: 210px;
    }
  }
  #meeting-hall {
    width: 180px;
    @media (max-width: @screen-md-max) {
      width: 210px;
    }
  }
  #fortune-hall {
    width: 184px;
    @media (max-width: @screen-md-max) {
      width: 210px;
    }
  }
  #classic-hall {
    width: 160px;
    @media (max-width: @screen-md-max) {
      width: 210px;
    }
  }

}

.competence-img__info-right, .restaurant-img__info-right {
  left: 440px;
  #beer-line {
    width: 240px;
    @media (max-width: @screen-md-max) {
      width: 210px;
    }
  }
}

.restaurant-img__info-left {
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #afa18f;
    width: 105px;
    margin-left: 20px;
    padding: 0;
    position: relative;
    bottom: -15px;

    @media (max-width: @screen-md-max) {
      width: 152px;
      bottom: -13px;
    }
    @media (max-width: @screen-md-max) {
      bottom: auto;
      width: auto;
      border-top: 1px solid #afa18f;
    }
  }
  #karaoke-line {
    width: 147px;
    @media (max-width: @screen-md-max) {
      width: 210px;
    }
  }
}

.business-img__info-left, .business-img__info-right {
  display: inline-flex;
  align-items: flex-end;
  position: absolute;
  z-index: 998;
  left: -305px;
  top: 265px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-family: @TrajanPro3Regular;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.14em;
  color: #afa18f;
  width: 100%;
  @media (max-width: @screen-md-max) {
    left: -207px;
    top: 172px;
    font-size: 22px;
  }
  @media (max-width: @screen-xs-max) {
    position: static;
    display: flex;
    align-items: center;
    -webkit-transform: none;
    transform: none;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #afa18f;
    width: 215px;
    margin-left: 20px;
    padding: 0;
    position: relative;
    bottom: -15px;
    @media (max-width: @screen-md-max) {
      width: 152px;
      bottom: -13px;
    }
    @media (max-width: @screen-xs-max) {
      border-top: 1px solid #afa18f;
      bottom: auto;
    }
  }
  #hr-food {
    width: 294px;
    @media (max-width: @screen-md-max) {
      width: 210px;
    }
  }
  #hr-city {
    bottom: -18px;
    width: 49px;
    @media (max-width: @screen-md-max) {
      bottom: -12px;
      width: 30px;
    }
    @media (max-width: @screen-xs-max) {
      bottom: auto;
    }
  }
  #hr-holiday {
    width: 236px;
    @media (max-width: @screen-md-max) {
      width: 166px;
    }
  }
}

.business-img__info-right {
  left: 345px;
  @media (max-width: @screen-md-max) {
    left: 240px;
  }
}

.inline-attributes {
  font-family: @AvenirNextCyr-Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  span {
    color: #afa18f;
    margin-right: 8px;
  }
  @media (max-width: @screen-md-max) {
    font-size: 11px;
    margin: 0 0 0 40px;
  }
  @media (max-width: @screen-xs-max) {
    margin: 0;
  }
}

.competence__inline-attributes, .restaurant__inline-attributes {
  font-family: @AvenirNextCyr-Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-left: -38px;
  .room-action {
    display: flex;
    justify-content: space-around;
    @media (max-width: @screen-xs-max) {
      width: auto;
      text-align: right;
    }
  }
  a {
    color: #111111;
    margin-right: 8px;

    &:hover {
      border-bottom: 1px solid #111111;
    }
  }

  @media (max-width: @screen-md-max) {
    margin: 0 0 0 40px;
  }
  @media (max-width: @screen-xs-max) {
    margin: 0;
  }
}

.restaurant__inline-attributes {
  margin-left: 0;
  .room-action {
    display: block;
  }

}

.restaurant-logo {
  background: url(../img/logo-milli.png);
  width: 113px;
  height: 72px;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 330px;
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.restaurant-info {
  font-family: @AvenirNextCyr-Medium;
  font-size: 18px;
  line-height: 50px;
  color: #cacaca;
  letter-spacing: 0.04em;
}

.b-slash {
  color: #afa18f;
}

.sophistication-img, .sophistication-spa {
  background-image: url(../img/soph.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 577px;
  height: 385px;
  float: right;
  position: relative;
  z-index: 997;
  @media (max-width: @screen-md-max) {
    width: 380px;
    height: 280px;
  }
  @media (max-width: @screen-xs-max) {
    width: 100%;
    height: 220px;
  }
}

.sophistication-spa {
  background-image: url(../img/therapy.jpg);
}

.p-restaurant-img {
  background-image: url(../img/info-restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 577px;
  height: 385px;
  float: right;
  position: relative;
  z-index: 997;
  @media (max-width: @screen-md-max) {
    width: 380px;
    height: 280px;
  }
  @media (max-width: @screen-xs-max) {
    width: 100%;
    height: 210px;
  }
}

.c-attributes-img {
  background-image: url(../img/business.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 577px;
  height: 385px;
  float: right;
  position: relative;
  z-index: 997;
  @media (max-width: @screen-md-max) {
    width: 380px;
    height: 280px;
  }
  @media (max-width: @screen-xs-max) {
    width: 100%;
    height: 190px;
  }
}

.c-competence-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 810px;
  height: 510px;
  float: right;
  position: relative;
  z-index: 997;
  @media (max-width: @screen-md-max) {

  }
}

.competence-img-1 {
  background-image: url(../img/business-content1.jpg);
}

.competence-img-2 {
  background-image: url(../img/business-content2.jpg);
}

.competence-img-3 {
  background-image: url(../img/business-content3.jpg);
}

.competence-img-4 {
  background-image: url(../img/business-content4.jpg);
}

.competence-img-5 {
  background-image: url(../img/business-content5.jpg);
}

.competence-img-6 {
  background-image: url(../img/business-content6.jpg);
}

.business-img {
  background-image: url(../img/business.jpg);
}

.holiday-img {
  background-image: url(../img/holiday.jpg);
}

.food-img {
  background-image: url(../img/food.jpg);
}

.city-img {
  background-image: url(../img/city.jpg);
}

.restaurant-img-1 {
  background-image: url(../img/image-restaurant1.jpg);
}

.restaurant-img-2 {
  background-image: url(../img/image-restaurant2.jpg);
}

.restaurant-img-3 {
  background-image: url(../img/image-restaurant3.jpg);
}

.soph-decor {
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 149px;
  height: 153px;
  opacity: 0.2;
  border: 9px solid #dbc8ac;
  @media (max-width: @screen-xs-max) {
    right: -12px;
    bottom: -12px;
    width: 109px;
    height: 113px;
    opacity: 0.4;
    border: 6px solid #dbc8ac;
  }
}

.nav-rooms {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 560px;
  width: 535px;
  z-index: 997;
  background: #fff;
  justify-content: center;
  .wrap-btn {
    cursor: pointer;
    transition: all 400ms ease;
    .tablink {
      height: 100px;
      width: 418px;
      margin-left: 117px;
      border: none;
      outline: none;
      background: transparent;
      text-align: left;
      border-bottom: 1px solid #f6f1ea;
      font-family: @TrajanPro3Regular;
      color: #111111;
      padding: 10px 0 0;
      transition: all .3ms ease;
      cursor: pointer;
      letter-spacing: 0.14em;
      span {
        display: flex;
        font-family: @AvenirNextCyr-Regular;
        font-size: 14px;
        line-height: 34px;
        opacity: .3;
        letter-spacing: normal;
      }
      @media (max-width: @screen-md-max) {
        height: 80px;
        width: 400px;
        margin-left: 0;
        padding: 10px 0 0 117px;
        font-size: 12px;
        span {
          font-size: 12px;
        }
      }
    }
    &:hover {
      background: #f4eee6;
    }
  }
  @media (max-width: @screen-md-max) {
    height: 400px;
    width: 400px;
  }
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.c-rooms {
  height: 75vh;
  width: 75%;
  float: left;
  @media (max-width: @screen-xs-max) {
    width: 100%;
    height: auto;
  }
}

.about-rooms {
  width: 451px;
  height: 740px;
  background: #514947;
  opacity: .6;
  position: absolute;
  left: 141px;
  z-index: 997;
  @media (max-width: @screen-md-max) {
    height: 75vh;
  }
  @media (max-width: @screen-xs-max) {
    width: 100%;
    height: 400px;
    left: 0;
  }
}

.about-rooms__info, .room-slider__info {
  margin: 40px 50px 0 50px;
  position: absolute;
  z-index: 998;
  left: 141px;
  width: 351px;
  height: 664px;
  color: #fff;
  .room-title {
    font-family: @TrajanPro3SemiBold;
    font-size: 20px;
    line-height: 34px;
    width: 80%;
    margin-bottom: 45px;
    letter-spacing: 0.14em;
    min-height: 68px;
  }
  .room-price {
    font-family: @AvenirNextCyr-Regular;
    font-size: 22px;
    font-weight: 400;
    line-height: 50px;
    opacity: .5;
    letter-spacing: 0.04em;

  }
  .room-area {
    font-family: @AvenirNextCyr-Medium;
    font-size: 18px;
    line-height: 50px;
    position: absolute;
    bottom: 270px;
    letter-spacing: 0.04em;

  }
  .room-description {
    font-family: @AvenirNextCyr-Regular;
    font-size: 14px;
    line-height: 22px;
    position: absolute;
    bottom: 175px;
    letter-spacing: 0.04em;
  }
  .room-action {
    font-family: @AvenirNextCyr-Medium;
    font-size: 16px;
    line-height: 50px;
    position: relative;
    bottom: -375px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    letter-spacing: 0.04em;
    a {
      color: #fff;
      margin-right: 60px;
      @media (max-width: @screen-xs-max) {
        margin-right: 0;
      }
    }
    a::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: #dbc8ac;
      transition: width .4s ease;
    }

    a:hover::after {
      width: 100%;
    }
    @media (max-width: @screen-md-max) {
      display: flex;
      justify-content: space-around;
    }
  }
  @media (max-width: @screen-md-max) {
    .room-title {
      font-size: 18px;
      margin-bottom: 0;
      min-height: 0;
    }

    .room-price {
      font-family: @AvenirNextCyr-Regular;
      font-size: 18px;
      margin-bottom: 100px;
    }

    .room-area {
      font-size: 16px;
      position: static;

    }

    .room-description {
      font-size: 13px;
      line-height: 20px;
      position: static;
      @media (max-width: @screen-xs-max) {
        visibility: hidden;
      }
    }

    .room-action {
      font-size: 14px;
      position: static;
    }
  }
  @media (max-width: @screen-xs-max) {
    .room-title {
      width: 100%;
      font-size: 15px;
      margin-bottom: 0;
      min-height: 0;
    }

    .room-price {
      font-family: @AvenirNextCyr-Regular;
      font-size: 18px;
      margin-bottom: 100px;
      @media (max-width: @screen-xs-max) {
        margin-bottom: 0;
      }
    }

    .room-area {
      font-size: 16px;
      position: static;

    }

    .room-description {
      font-size: 13px;
      line-height: 20px;
      position: static;
      p {
        margin-bottom: 10px;
      }
    }

    .room-action {
      font-size: 14px;
      position: static;
    }
  }
  @media (max-width: @screen-xs-max) {
    margin: 30px 15px 0 15px;
    left: 0;
    width: auto;
    height: 370px;
  }
}

.bus-decor__left {
  width: 981px;
  height: 220px;
  background-color: #dbc8ac;
  position: absolute;
  left: -355px;
  bottom: -30px;
  @media (max-width: @screen-xs-max) {
    width: 300px;
    height: 190px;
    background-color: #dbc8ac;
    position: absolute;
    left: -5px;
    bottom: 5px;
  }
}

.competence-decor__left {
  width: 1111px;
  height: 220px;
  background-color: #dbc8ac;
  position: absolute;
  left: -298px;
  bottom: -30px;
  @media (max-width: @screen-xs-max) {
    width: 103.5%;
    height: 210px;
    left: -5px;
    bottom: -5px;
  }
}

.competence-decor__right {
  width: 1197px;
  height: 220px;
  background-color: #dbc8ac;
  position: absolute;
  right: -357px;
  bottom: -30px;
}

.bus-decor__right {
  width: 962px;
  height: 220px;
  background-color: #dbc8ac;
  position: absolute;
  right: -355px;
  bottom: -30px;
  @media (max-width: @screen-md-max) {
    width: 647px;
    right: -237px;
  }
  @media (max-width: @screen-xs-max) {
    width: 300px;
    height: 190px;
    background-color: #dbc8ac;
    position: absolute;
    left: -5px;
    bottom: 5px;
  }
}

.section-s_offers {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: @screen-xs-max) {
    //margin-bottom: 40px;
    margin: 80px 0;
  }
}

.s_offers {
  width: 70%;
  margin: 0 auto;

  .item {
    height: 492px;
    background: #fff;
    img {
      height: 245px;
      object-fit: cover;
      background: transparent;

    }
    .s_offers__info {
      position: relative;
      height: 215px;
      padding: 27px 30px 0 30px;
      background: #fff;
    }
    .info__title {
      font-family: @TrajanPro3Regular;
      font-size: 20px;
      line-height: 34px;
      letter-spacing: 0.14em;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 10px;
      height: 68px;
    }
    .info__desc {
      font-family: @AvenirNextCyr-Regular;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.04em;
      color: #000;
      p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
    .info__act {
      font-family: @AvenirNextCyr-Medium;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.04em;
      color: #000;
      position: absolute;
      bottom: 20px;
      a::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #000;
        transition: width .4s ease;
      }
      a:hover::after {
        width: 100%;
      }

    }
    @media (max-width: @screen-md-max) {
      width: 350px;
      height: 372px;
      img {
        height: 160px;
      }

      .s_offers__info {
        height: 185px;
      }

      .info__title {
        font-size: 13px;
        line-height: 18px;
        height: auto;
      }

      .info__act {
        font-size: 14px;
      }
    }
  }
  .main_offers {
    width: 556px;
    @media (max-width: @screen-md-max) {
      width: 350px;
    }
    @media (max-width: @screen-xs-max) {
      width: 230px;
    }
  }
  .offers {
    width: 350px;
    @media (max-width: @screen-md-max) {
      width: 230px;
    }
  }
}

.s_offers__rectangle, .room-section__rectangle, .quotes-section__rectangle, .jobs-quotes-section__rectangle {
  width: 647px;
  height: 592px;
  background: #ede3d5;
  position: absolute;
  left: 0;
  @media (max-width: @screen-md-max) {
    width: 50vw;
    height: 75vh;
  }
}

.jobs-quotes-section__rectangle {
  width: 407px;
  height: 271px;
  position: static;
  z-index: -1;
  @media (max-width: @screen-xs-max) {
    visibility: hidden;
  }
}

.room-section__rectangle {
  width: 40%;
}

.quotes-section__rectangle {
  width: 403px;
  height: 414px;
  position: static;
  z-index: -1;
}

#map {
  position: absolute;
  right: 0;
  width: 70%;
  height: 770px;
  padding: 0;
  margin: 0;
  @media (max-width: @screen-md-max) {
    height: 75vh;
  }
  @media (max-width: @screen-xs-max) {
    width: 100%;
    height: 476px;
  }
}

.c-footer {
  background: #afa18f;
  height: 611px;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
  @media (max-width: @screen-md-max) {
    height: auto;
  }
}

.c-footer-container {
  width: 80%;
  margin: 0 auto;
  height: 450px;
  border-bottom: 1px solid #bfb4a5;
  @media (max-width: @screen-xs-max) {
    width: auto;
    padding: 15px 15px;
    height: auto;
  }
}

.c-footer-map {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 450px;
  float: right;
  @media (max-width: @screen-md-max) {
    width: 65%;
  }
  @media (max-width: @screen-xs-max) {
    width: auto;
    height: auto;
    float: none;
  }
}

.c-footer-map__main-map, .c-footer-map__more-map {
  display: flex;
  justify-content: center;
  @media (max-width: @screen-xs-max) {
    display: block;
  }
}

.c-footer-map__main-map {
  margin-top: 42px;
  margin-bottom: 80px;
  @media (max-width: @screen-md-max) {
    margin-bottom: 40px;
  }
  @media (max-width: @screen-xs-max) {
    margin-bottom: 0;
  }

}

.f-block-link {
  min-width: 300px;
  @media (max-width: @screen-md-max) {
    min-width: 220px;
  }
}

.f-link {
  height: 32px;
  font-family: @AvenirNextCyr-Medium;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  a {
    color: #fff;
    &:hover {
      opacity: .6;
    }
  }
  li {
    display: block;
    font-size: 14px;
    font-family: @AvenirNextCyr-Regular;
    line-height: 34px;
    letter-spacing: 0.04em;
    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }
  @media (max-width: @screen-md-max) {
    font-size: 14px;
    li {
      font-size: 12px;
      line-height: 30px;
    }
  }
}

.c-footer-label {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 25%;
  height: 360px;
  float: left;
  i {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
  }
  @media (max-width: @screen-xs-max) {
    width: auto;
    height: auto;
    float: none;
    flex-direction: row;
    justify-content: space-between;
  }
}

.f-label-info {
  position: absolute;
  top: 30px;
  left: 0;
  font-family: @AvenirNextCyr-Medium;
  font-style: normal;
  font-size: 16px;
  color: #fff;
  @media (max-width: @screen-xs-max) {
    top: 20px;
    font-size: 12px;
  }
}

.f-label-logo {
  background: url(../img/logo-white.png);
  width: 100px;
  height: 84px;
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.f-label-booking {
  background: url(../img/booking.png);
  width: 160px;
  height: 27px;
  @media (max-width: @screen-xs-max) {
    width: 100px;
    height: 17px;
  }
}

.f-label-tripadvisor {
  background: url(../img/tripadvisor.png);
  width: 170px;
  height: 26px;
  @media (max-width: @screen-xs-max) {
    width: 105px;
    height: 15px;
  }
}

.c-footer-contacts {

}

.c-footer-feedback {
  height: 160px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  @media (max-width: @screen-xs-max) {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    padding: 15px 15px;
  }
}

.feedback-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: #fff;
  a, span {
    font-family: @AvenirNextCyr-Medium;
    color: #fff;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.04em;
    transition: all 400ms ease;
    &:hover {
      opacity: .6;
    }
    @media (max-width: @screen-xs-max) {
      line-height: 30px;
    }
  }
  p {
    font-family: @AvenirNextCyr-Medium;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 48px;
  }
  .f-weather-info {
    font-family: @AvenirNextCyr-Regular;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.04em;
  }
  @media (max-width: @screen-md-max) {
    p {
      line-height: normal;
      margin-bottom: 10px;
    }
  }
  @media (max-width: @screen-xs-max) {
    width: auto;
    margin-bottom: 15px;
  }
}

.f-social-icons {
  display: inline-flex;
  margin-right: 20px;
}

.f-vk {
  background: url(../img/vk-footer.png);
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 23px;
  height: 13px;
  margin-right: 15px;
  position: relative;
  bottom: -2px;
}

.f-inst {
  background: url(../img/inst-footer.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 17px;
  height: 17px;
  margin-right: 15px;
}

.f-fb {
  background: url(../img/fb-footer.png);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
  height: 19px;
  margin-right: 15px;
  position: relative;
  bottom: 2px;
}

.f-weather {
  display: inline-flex;
}

.f-weather-icon {
  background: url(../img/weather.png);
  width: 31px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 15px;

}

.f-notification__send {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #fff;
  background-image: url(../img/telegrama.png);
  color: #fff;
  padding: 8px 0;
  font-family: @AvenirNextCyr-Regular;
  font-size: 14px;
  min-width: 170px;
  @media (max-width: @screen-xs-max) {
    width: 100%;
    padding: 15px 0;
  }
}

input::-webkit-input-placeholder {
  color: #fff;
}

input::-moz-placeholder {
  color: #fff;
}

.feedback-contacts {
  width: 355px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  width: 100%;
  background: #988c7c;
  .copyright-info {
    width: 80%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-family: @AvenirNextCyr-Regular;
    font-size: 16px;
    color: #fff;
    @media (max-width: @screen-md-max) {
      font-size: 14px;
    }
    @media (max-width: @screen-md-max) {
      width: auto;
      font-size: 14px;
      justify-content: space-around;
      flex-direction: column;
    }
  }

  a {
    color: #fff;
    border-bottom: 1px solid transparent;
    padding-bottom: 6px;
    &:hover {
      opacity: .6;
      border-bottom: 1px solid #fff;
    }
  }
  @media (max-width: @screen-xs-max) {
    width: auto;
    padding: 15px 15px;
  }
}

.c-head-bg {
  height: 560px;
  position: relative;
  @media (max-width: @screen-xs-max) {
    height: 450px;
  }
}

.c-section-head__square {
  height: 620px;
  width: 280px;
  margin: 0 auto;
  background: #fff;
}

.c-section-head__item-square {
  width: 368px;
  height: 125px;
  background: #fff;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: @screen-xs-max) {
    width: auto !important;
  }
}

.c-section-head__info {
  width: 480px;
  height: 252px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 40px 140px 0;
  background: #fff;
  text-align: center;
  h3 {
    @media (max-width: @screen-xs-max) {
      font-size: 20px;
      text-align: center;
    }
  }
  p {
    font-family: @AvenirNextCyr-Regular;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #000;
  }
  a {
    font-family: @AvenirNextCyr-Medium;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #afa18f;
    display: block;

  }
  @media (max-width: @screen-xs-max) {
    width: auto;
    padding: 15px;
    height: 195px;

  }
}

.rooms-head__info, .restaurant-head__info {
  width: 530px;
  padding: 40px 40px 0;
  color: #afa18f;
  p {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  span {
    display: inline-flex;
    flex-direction: row;
    margin: 0 5px;
  }
  a {
    &:hover {
      border-bottom: 1px solid #afa18f;
    }
  }
}

.restaurant-head__info {
  width: 320px;
  padding: 40px 130px 0;
  p {
    width: 100%;
  }
}

.item-info {
  display: inline-flex;
  align-items: flex-start;
  height: auto;
  margin-bottom: 50px;
}

.item-info__data {
  width: 42%;
  height: 225px;
  margin-right: auto;
  border-right: 1px solid #afa18f;
  span {
    font-size: 30px;
  }
  .service-info {
    font-family: @AvenirNextCyr-Regular;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #bdbdbd;
  }
  p {
    font-family: @AvenirNextCyr-Regular;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 0.04em;
    color: #000;
  }
  h4 {
    line-height: 20px;
  }
  .data__desc {
    font-family: @AvenirNextCyr-Regular;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #000;
    width: 80%;
    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }
  .data__jobs {
    font-size: 12px;
    line-height: 20px;
    width: 80%;
    @media (max-width: @screen-xs-max) {
      width: 100%;
      font-size: 14px;
      line-height: 22px;
    }
  }
  ul > li > p {
    margin-bottom: 15px;
  }

}

.item-info__description {
  width: 50%;
  p {
    font-family: @AvenirNextCyr-Regular;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #000;
    margin-bottom: 15px;
  }
  a {
    font-family: @AvenirNextCyr-Medium;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.04em;
    color: #000;
  }
  h4 {
    line-height: 25px;
  }
  span {
    font-size: 30px;
  }
}

.c-container__restaurant-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  .attributes-info {
    width: 50%;
    font-family: @AvenirNextCyr-Regular;
    font-size: 16px;
    color: #000;
  }
  @media (max-width: @screen-xs-max) {
    flex-direction: column;
  }
}

.c-container-attributes {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: -35px;
  ul {
    padding: 0;
    li {
      padding-left: 10px;
      list-style-image: url(../img/rectangle-li.png);
      p {
        font-size: 16px;
      }
    }
  }
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-wrap {
  @media (max-width: @screen-xs-max) {
    margin-right: 25px;
  }
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  width: 100%;
}

.read-more-state ~ .read-more-trigger:before {
  content: '+ еще';
  font-size: 18px;
  font-family: @AvenirNextCyr-Medium;
}

.read-more-state:checked ~ .read-more-trigger:before {
  display: none;
}

.read-more-trigger {
  cursor: pointer;
  position: absolute;
  left: 38px;
  bottom: 140px;
}

.c-reservation, .c-info-quotes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 572px;
  height: 290px;
  background: #fff;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 50px 0 0 50px;
}

.c-reservation {
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.c-info-quotes {
  width: 579px;
  height: 264px;
  padding: 50px 195px 0 0;
  p {
    font-family: @TrajanPro3Regular;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.04em;
  }
  h3 {
    color: #111111;
    text-align: center;
    line-height: 38px;
  }
  @media (max-width: @screen-xs-max) {

  }
}

.jobs-quotes {
  height: 150px;
  padding: 80px 0 0 50px !important;
  h3 {
    color: #111111;
    text-align: center;
    line-height: 38px;
  }
}

.c-reservation-info {
  h4 {
    font-size: 30px;
    letter-spacing: 0.14em;
    @media (max-width: @screen-xs-max) {
      font-size: 22px;
    }
  }
  @media (max-width: @screen-xs-max) {
    padding: 15px;
  }
}

.c-reservation-select {
  margin-right: 90px;
  span {
    font-family: @TrajanPro3SemiBold;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.14em;
    color: #afa18f;
    display: flex;
  }
}

.c-reservation-action {
  width: 100%;
  margin-top: 60px;
  font-family: @AvenirNextCyr-Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  position: absolute;

}

.c-reservation-container {
  display: inline-flex;
  flex-wrap: wrap;
}

.c-section-b-item__slider {
  width: 80%;
  height: 70vh;
  margin: 0 auto;
  .owl-carousel {
    width: 100%;
  }
  .b-item-slider {
    .item {
      height: 610px;
      img {
        height: inherit;
        object-fit: cover;
      }
    }
  }
  .ellipses-left, .ellipses-right {
    display: flex;
    justify-content: space-around;
    width: 60px;
  }
  .b-item-ellipse {
    width: 3px;
    height: 3px;
    -webkit-border-radius: 2px 1px 1px 2px/1px 1px 2px 2px;
    -moz-border-radius: 2px 1px 1px 2px/1px 1px 2px 2px;
    border-radius: 2px 1px 1px 2px/1px 1px 2px 2px;
    background-color: #ede3d5;
  }
}

.owl-dots {
  counter-reset: slides-num;
  position: relative;
  top: 52px;
  height: 22px;
  width: 20px;
  margin: 0 auto;
  .owl-dot {
    display: inline-block;
    counter-increment: slides-num;
    margin-right: 5px;
  }
  @media (max-width: @screen-xs-max) {
    top: 30px;
  }
}

.owl-dot.active:before {
  content: "0" counter(slides-num);
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  color: #dbc8ac;
  border-bottom: 2px solid #dbc8ac;
  span {
    display: none;
  }
}

.owl-theme .owl-dots .owl-dot span {
  display: none;
}

.nav-next, .nav-prev {
  position: relative;
}

.ellipses-next, .ellipses-prev {
  position: absolute;
  display: inline-flex;
  width: 80px;
  justify-content: space-around;
}

.ellipses-next {
  left: -90px;
}

.ellipses-prev {
  right: -90px;
}

.others-info {
  width: 30%;
}

.others-info__desc {
  margin-bottom: 40px;
  p {
    line-height: 22px;
  }
}

.others-info__contacts {
  display: flex;
  flex-direction: column;
  span {
    font-family: @AvenirNextCyr-Medium;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 50px;
  }
  p {
    font-family: @AvenirNextCyr-Regular;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 26px;
    color: #111111;
  }
  .mail {
    border-bottom: 1px solid #111111;
    transition: all 400ms ease;
    &:hover {
      border-bottom: 1px solid transparent;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -ms-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      transition: all 400ms ease;
    }
  }

}

.others-items {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  a {
    &:hover {
      .others-items__m-overlay-box, .others-items__overlay-box {
        opacity: 1;
      }
      .others-item__title {
        span {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.others-items__main-box {
  height: 500px;
  width: 500px;
  margin-right: 10px;
  position: relative;
}

.others-items__rest-box-main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 50vh;
  width: 350px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  @media (max-width: @screen-xs-max) {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
  }
}

.others-items__rest-box-second {
  flex-wrap: wrap;
  position: relative;
  height: 50vh;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: @screen-xs-max) {
    height: 300px;
    width: 100%;
  }
}

.others-items__secondary-box {
  width: 371px;
  height: 245px;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.others-items__main-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.others-items__m-overlay-box, .others-items__overlay-box, .rest-box-main, .rest-box-second {
  height: inherit;
  width: inherit;
  background-color: #dbc8ac;
  position: absolute;
  z-index: 988;
  opacity: .8;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.others-items__m-overlay-box {
  @media (max-width: @screen-xs-max) {

  }
}

.rest-box-main {
  height: 50vh;
  width: 351px;
  @media (max-width: @screen-xs-max) {
    height: 300px !important;
    width: 100% !important;
  }
}

.rest-box-second {
  height: 50vh;
  width: 251px;
  @media (max-width: @screen-xs-max) {
    height: 300px;
    width: 100%;
  }
}

.others-item {
  position: relative;
  height: 245px;
  width: 371px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.others-items__m-box, .about-m-box {
  background: url(../img/others-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 987;
  width: inherit;
  height: inherit;
  filter: grayscale(100%);
}

.about-m-box {
  background: url(../img/holiday.jpg);
}

.others-items__f-box {
  background: url(../img/others-2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 987;
  width: inherit;
  height: inherit;
  -webkit-filter: contrast(100%);
  -webkit-filter: grayscale(200%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  display: flex;

}

.others-items__s-box, .about-s-box {
  background: url(../img/others-2.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 987;
  width: inherit;
  height: inherit;
  -webkit-filter: contrast(100%);
  -webkit-filter: grayscale(200%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);

}

.about-s-box {
  background: url(../img/city.jpg);
  background-size: cover;
}

.others-item__title {
  position: absolute;
  z-index: 997;
  color: #ffffff;
  font-family: @TrajanPro3SemiBold;
  font-size: 16px;
  letter-spacing: 0.14em;
  span {
    font-family: @AvenirNextCyr-Medium;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.04em;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    transition: visibility 0s, opacity .3s ease;
  }
}

.room-slider__info {
  float: right;
  width: 20%;
  margin: 0 81px 0 81px;
  color: #000;
  height: auto;
  left: auto;
  position: static;
  .rp-override, .ra-override, .rd-override, .r-action-override {
    position: static;
  }
  .rp-override {
    margin-bottom: 100px;
    @media (max-width: @screen-xs-max) {
      margin-bottom: 0;
    }
  }
  .ra-override {

  }
  .rd-override {
    margin-bottom: 20px;
  }
  .r-action-override {
    a {
      color: #000;
    }
    @media (max-width: @screen-xs-max) {
      display: flex;
      justify-content: space-between;
    }
  }
  h3 {
    line-height: 42px;
    margin-bottom: 20px;
    @media (max-width: @screen-xs-max) {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 0;
    }
  }
  @media (max-width: @screen-xs-max) {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 20px;
    padding: 15px;
  }
}

.main-rest-image {
  width: 655px;
  height: 310px;
  position: relative;
  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
  @media (max-width: @screen-xs-max) {
    width: 100%;
    height: 210px;
    margin-bottom: 15px;
  }
}

.rest-image {
  width: 320px;
  height: 310px;
  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

.feedback-info, .jobs-feedback-info {
  //background: #111111;
  height: 440px;
  width: 40%;
  border-right: 1px solid #afa18f;
  p {
    width: 45%;
    line-height: 22px;
  }
}

.jobs-feedback-info {
  h3 {
    line-height: 32px;
    margin-bottom: 40px;
  }
}

.feedback-form {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 0 0 110px;
  .feedback-form__input {
    .form {
      display: flex;
      justify-content: space-between;
      .form-group {
        display: flex;
        flex-direction: column-reverse;
      }
      label {
        font-family: @AvenirNextCyr-Regular;
        font-size: 14px;
        transition: all 400ms ease;
      }
      input {
        width: 212px;
        height: 60px;
        border: 2px solid #dfdfdf;
        outline: none;
        padding-left: 20px;
        margin-top: 20px;
        transition: all 400ms ease;
        font-family: @AvenirNextCyr-Regular;
        font-size: 14px;
        letter-spacing: 0.04em;
        &:focus {
          border: 2px solid #afa18f;
        }
        &:focus + label {
          color: #afa18f;
        }
      }
      @media (max-width: @screen-xs-max) {
        flex-direction: column;
      }
    }
  }
  .feedback-form__textarea {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-family: @AvenirNextCyr-Regular;
    font-size: 14px;
    label {
      margin-bottom: 20px;
      font-family: @AvenirNextCyr-Regular;
      font-size: 14px;
      transition: all 400ms ease;
    }
    textarea {
      resize: none;
      padding: 20px;
      outline: none;
      transition: all 400ms ease;
      border: 2px solid #dfdfdf;
      font-family: @AvenirNextCyr-Regular;
      &:focus {
        border: 2px solid #afa18f;
      }
      &:focus + label {
        color: #afa18f;
      }
    }
    .send-form-data {
      width: 200px;
      margin-top: 20px;
      background: none;
      margin-left: auto;
      text-align: right;
      border: none;
      outline: none;
      font-family: @AvenirNextCyr-Medium;
      font-size: 16px;
      cursor: pointer;
      transition: all 400ms ease;
      &:hover {
        opacity: 0.8;
      }
      @media (max-width: @screen-xs-max) {
        text-align: center;
        margin-left: inherit;
      }
    }
    .form-submit {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      form {
        margin-top: 20px;
        font-family: @AvenirNextCyr-Regular;
        font-size: 14px;
        .input-ico {
          background-image: url(../img/add-file.png);
          width: 19px;
          height: 20px;
          display: inline-block;
          position: relative;
          top: 2px;
        }
        .file-input {
          display: inline-block;
          text-align: left;
          position: relative;
          border-radius: 3px;
          cursor: pointer;
        }

        .file-input > [type='file'] {
          position: absolute;
          top: 0;
          left: -120px;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 10;
          cursor: pointer;
        }

        .file-input > .button {
          display: inline-block;
          cursor: pointer;
          position: relative;
          top: -3px;
          margin-left: 4px;
        }

        .file-input:hover > .button {
          opacity: .8;
        }

        .file-input > .label {
          color: #333;
          white-space: nowrap;
          opacity: .3;
        }

        .file-input.-chosen > .label {
          opacity: 1;
        }
        label {
          position: relative;
          top: -3px;
        }
      }
      @media (max-width: @screen-xs-max) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.manager-img {
  background: url(../img/about-manager.jpg);
  width: 577px;
  height: 385px;
  background-size: cover;
  background-position: center center;
  @media (max-width: @screen-xs-max) {
    width: 100%;
    height: 220px;
  }
}

.manager-info {
  background: #ffffff;
  width: 429px;
  height: 197px;
  position: relative;
  left: -95px;
  padding: 50px 0 50px 50px;
  label {
    font-family: @AvenirNextCyr-Medium;
    font-size: 14px;
    color: #a3a3a3;
    text-transform: uppercase;
  }
  p {
    font-family: @AvenirNextCyr-Regular;
    font-size: 14px;
    color: #111111;
    line-height: 22px;
    letter-spacing: 0.04em;
  }
  @media (max-width: @screen-xs-max) {
    left: 0;
    width: auto;
    height: auto;
    padding: 15px;
  }
}

.c-diploma-img {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 60%;
  .diploma-img-item {
    width: 220px;
    height: 308px;
    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }
}

.c-diploma-info {
  width: 40%;
  padding-left: 120px;
  p {
    font-size: 16px;
    line-height: 26px;
  }
  @media (max-width: @screen-xs-max) {
    width: auto;
    padding: 0;
  }
}

.diploma-info-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 40px;
  .ico-item-booking {
    background: url(../img/about-booking.png);
    width: 160px;
    height: 47px;
    background-size: cover;
  }
  .ico-item-tripadvisor {
    background: url(../img/about-tripadvisor.png);
    width: 170px;
    height: 51px;
    background-size: cover;
  }
}

.rectangle-bg-lg, .rectangle-bg-xs {
  background-color: #dbc8ac;
  position: absolute;
  z-index: -1;
  @media (max-width: @screen-xs-max) {
    visibility: hidden;
  }
}

.rectangle-bg-lg {
  width: 647px;
  height: 592px;
  left: 0;
  @media (max-width: @screen-xs-max) {
    visibility: hidden;
  }
}

.rectangle-bg-xs {
  width: 15%;
  height: 592px;
  right: 0;
  @media (max-width: @screen-xs-max) {
    visibility: hidden;
  }
}

.service-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 492px;
  background-color: #ffffff;
  @media (max-width: @screen-xs-max) {
    width: auto;
    height: auto;
    flex-direction: column;
    padding: 15px;
  }
}

.service-content-items {
  width: 40%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: @screen-xs-max) {
    width: auto;
    height: auto;
  }
}

.service-content-info {
  width: 60%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}

.service-content-item {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: @screen-xs-max) {
    height: auto;
    margin: 15px 0;
  }
}

.service-ico-info {
  margin-top: 15px;
  font-family: @TrajanPro3Regular;
  color: #111111;
  text-align: center;
}

.service-ico, .info__item-ico {
  background-size: cover;
  background-position: center;
}

.internet-ico {
  background-image: url(../img/internet.png);
  width: 57px;
  height: 61px;
}

.atm-ico {
  background-image: url(../img/atm.png);
  width: 60px;
  height: 57px;
}

.transport-ico {
  background-image: url(../img/transport.png);
  width: 60px;
  height: 48px;
}

.currency-ico {
  background-image: url(../img/currency.png);
  width: 60px;
  height: 60px;
}

.staff-ico {
  background-image: url(../img/staff.png);
  width: 90px;
  height: 90px;
}

.catering-ico {
  background-image: url(../img/catering.png);
  width: 88px;
  height: 90px;
}

.kass-ico {
  background-image: url(../img/travel.png);
  width: 83px;
  height: 83px;
}

.laundry-ico {
  background-image: url(../img/laundry.png);
  width: 90px;
  height: 90px;
}

.luggage-ico {
  background-image: url(../img/luggage.png);
  width: 62px;
  height: 62px;
}

.iron-ico {
  background-image: url(../img/iron.png);
  width: 60px;
  height: 56px;
}

.delivery-flower {
  background-image: url(../img/delivery-flower.png);
  width: 57px;
  height: 57px;
}

.smartphone-ico {
  background-image: url(../img/smartphone.png);
  width: 63px;
  height: 59px;
}

.service-content-info__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  p {
    width: 90%;
  }
  @media (max-width: @screen-xs-max) {
    width: 100%;
    align-items: center;
  }
}

/* ==========================================================================
   Icons
   ========================================================================== */
.i-logo {
  background-image: url(../img/logo.png);
  position: absolute;
  height: 90px;
  width: 90px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

.hidden-xs {
  @media (max-width: @screen-xs-max) {
    display: none !important;
  }
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  display: inline-block;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.h40 {
  height: 40px;
}

.h300 {
  height: 300px;
}

.clear {
  clear: both;
}

.select {
  width: 100px;
  border-radius: 4px;
  overflow: hidden;
  color: #000;
  font-weight: 300;
  float: left;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 9px;
    height: 9px;
    -webkit-transform: rotate(45deg);
    top: 17px;
    right: 15px;
  }
  &:after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 9px;
    height: 9px;
    -webkit-transform: rotate(45deg);
    top: 20px;
    right: 15px;
  }
}

.collapsed {
  .h40;
  &:before {
    transition: all 0.25s ease;
    content: '';
    position: absolute;
    background-color: #000;
    width: 9px;
    height: 9px;
    -webkit-transform: rotate(45deg);
    top: 8px;
    right: 15px;
    margin-top: 4px;
  }
  &:after {
    transition: all 0.25s ease;
    content: '';
    position: absolute;
    background-color: #fff;
    width: 9px;
    height: 9px;
    -webkit-transform: rotate(45deg);
    top: 5px;
    right: 15px;
    margin-top: 4px;
  }
}

.tab-map {
  width: 100%;
  text-align: center;
}

.option,
.shown {
  .h40;
  line-height: 38px;
  cursor: pointer;
  background-color: #fff;
}

.switch-y {
  position: relative;
  display: inline-block;
  width: 3px;
  height: 40px;
}

.switch-x {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 3px;
}

.switch-y input {
  display: none;
}

.switch-x input {
  display: none;
}

.slider-y {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #afa18f;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-x {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #afa18f;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-y:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: -6px;
  background-color: #afa18f;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-x:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0;
  top: -6px;
  background-color: #afa18f;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-y {
  background-color: #afa18f;
}

input:checked + .slider-x {
  background-color: #afa18f;
}

input:checked + .slider-y:before {
  -webkit-transform: translateY(26px);
  -ms-transform: translateY(26px);
  transform: translateY(26px);
}

input:checked + .slider-x:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.another-element {
  position: absolute;
  right: 0;
  width: 70%;
  height: 770px;
  padding: 0;
  margin: 0;
  background: url(../img/business-item-bg.jpg);
  transition: all 100ms ease;
  z-index: -1;
  @media (max-width: @screen-md-max) {
    height: 75vh;
  }
}

.sw-block {
  height: 50px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  .sw-info-left, .sw-info-right {
    font-family: @TrajanPro3Regular;
    font-size: 30px;
    position: relative;
    top: 5px;

  }
}

.offers-info {
  width: 60%;
  margin: 0 auto;
  p {
    font-family: @AvenirNextCyr-Regular;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 26px;
  }
  .info-italic {
    font-style: italic;
    font-family: @AvenirNextCyr-Medium;
  }
  .info-color {
    font-family: @AvenirNextCyr-Medium;
    color: #afa18f;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 26px;
  }
  @media (max-width: @screen-xs-max) {
    width: auto;
    padding: 15px;
  }
}

@media (max-width: @screen-md-max) {
  .rooms-head__info {
    width: 410px;
    padding: 30px 20px 0;
    height: 170px;
    h3 {
      font-size: 20px;
      line-height: 33px;
    }
    p {
      width: 100%;
    }
    @media (max-width: @screen-xs-max) {
      height: 160px !important;
    }
  }

  .c-section-head__info {
    p {
      width: 100%;
      font-size: 12px;
      line-height: 20px;
      @media (max-width: @screen-xs-max) {
        margin-bottom: 0;
      }
    }
    a {
      font-size: 12px;
      line-height: 20px;
      @media (max-width: @screen-xs-max) {
        font-size: 10px;
      }
    }
    @media (max-width: @screen-xs-max) {
      width: auto;
      padding: 15px;
      height: 140px;
      text-align: center;
    }
  }

  .c-container-lg {
    width: 90%;
    @media (max-width: @screen-xs-max) {
      width: auto;
      max-width: none;
      padding: 15px;
      flex-direction: column;
    }
  }

  .item-info__data {
    width: 40%;
    height: 225px;
    margin-right: 8%;
    .data__desc {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .item-info__description {
    width: 75%;
  }

  .c-container-attributes {
    ul > li > p {
      font-size: 12px;
      line-height: 20px;
      width: 80%;
    }
    p {
      @media (max-width: @screen-xs-max) {
        width: 80%;
      }
    }
  }

  .main-rest-image {
    width: 550px;
    height: 210px;
  }

  .rest-image {
    width: 280px;
    height: 210px;
    @media (max-width: @screen-xs-max) {
      width: 100%;
      height: 210px;
      margin-bottom: 15px;
    }
  }

  .manager-info label {
    font-size: 12px;
    line-height: 60px;
  }

  .manager-info p {
    font-size: 12px;
    line-height: 20px;
  }

  .c-diploma-img {
    .diploma-img-item {
      width: 130px;
      height: 180px;
      @media (max-width: @screen-xs-max) {
        margin-bottom: 15px;
        width: 100px;
        height: 140px;
      }
    }
    @media (max-width: @screen-xs-max) {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-top: 40px;
    }
  }

  .c-diploma-info p {
    font-size: 12px;
    line-height: 20px;
  }

  .diploma-info-icons {
    width: 100%;
    .ico-item-booking {
      width: 140px;
      height: 42px;
    }
    .ico-item-tripadvisor {
      width: 140px;
      height: 42px;
    }
  }

  .others-info__desc {
    margin-bottom: 40px;
    p {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .others-info__contacts {
    span {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }

  .others-info {
    width: 40%;
    @media (max-width: @screen-xs-max) {
      width: auto;
      padding: 15px;
    }
  }

  .rest-others-info {
    width: 30%;
    margin-left: 10%;
    @media (max-width: @screen-xs-max) {
      margin-left: 0;
    }
  }

  .others-items {
    width: 60%;
    @media (max-width: @screen-xs-max) {
      width: 100%;
      flex-direction: column;
    }
  }

  .others-items__main-box {
    height: 300px;
    width: 300px;
    @media (max-width: @screen-xs-max) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .others-item__title {
    font-size: 12px;
    span {
      font-size: 10px;
    }
  }

  .others-items__secondary-box {
    width: 230px;
    height: 300px;
    @media (max-width: @screen-xs-max) {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .others-item {
    width: 230px;
    height: 145px;
    @media (max-width: @screen-xs-max) {
      width: 100%;
      height: 300px;
      margin-bottom: 10px;
    }
  }

  /*and about md*/
  .c-section-head {
    margin-bottom: 80px;
    @media (max-width: @screen-xs-max) {
      margin-bottom: 40px;
    }
  }

  .item-info__data {
    h4 {
      font-size: 15px;
      line-height: 20px;
    }
    span {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
    .service-info {
      font-size: 12px;
      line-height: 22px;
    }
    @media (max-width: @screen-xs-max) {
      width: 100%;
      height: auto !important;
      margin-right: 0;
      border: none;
    }
  }

  .item-info__description {
    h4 {
      font-size: 15px;
      line-height: 20px;
      @media (max-width: @screen-xs-max) {
        margin-bottom: -10px;
      }
    }
    p {
      font-size: 12px;
      line-height: 20px;
    }
    a {
      font-size: 14px;
    }
    @media (max-width: @screen-xs-max) {
      width: 100%;
      //margin-top: 10px;
    }
  }

  .c-section-b-item__slider {
    height: 80vh;
    .b-item-slider {
      .item {
        height: 400px;
        @media (max-width: @screen-xs-max) {
          height: 210px;
        }
      }
    }
    @media (max-width: @screen-xs-max) {
      width: 100%;
      height: auto;
      margin-bottom: 40px;
    }
  }

  /*and business-item md*/
  .c-info-quotes {
    padding: 50px 0 0 50px;
    p {
      font-size: 18px;
      line-height: 26px;
      @media (max-width: @screen-xs-max) {
        font-size: 16px;
        line-height: 24px;
      }
    }
    @media (max-width: @screen-xs-max) {
      width: auto;
      //height: 150px;
      height: 320px;
      padding: 15px;
    }
  }

  .jobs-quotes {
    height: 140px;
    padding: 80px 0 0 50px;
    @media (max-width: @screen-xs-max) {
      height: auto;
      padding: 0 !important;
    }
  }

  /* and md guide*/
  .room-slider__left-edge, .room-slider__right-edge {
    width: 57%;
    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }

  .room-slider__info {
    width: 30%;
    @media (max-width: @screen-xs-max) {
      width: auto;
      height: auto;
    }
  }

  /*and rooms md*/
  .contact-address {
    width: 100%;
  }

  .contact-address .c-introduction__contact-item {
    font-size: 14px;
  }

  .c-introduction__title {
    h3 {
      @media (max-width: @screen-xs-max) {
        line-height: 30px;
      }
    }
  }

  .contact-data .data-item {
    font-size: 14px;
  }

  .section-feedback-form {
    height: 80vh;
    @media (max-width: @screen-xs-max) {
      height: auto;
    }
  }

  .section-jobs-feedback-form {
    height: 60vh;
    @media (max-width: @screen-xs-max) {
      height: auto;
    }
  }

  .feedback-info, .jobs-feedback-info {
    width: 30%;
    margin-right: 10%;
    height: 360px;
    p {
      width: 80%;
      line-height: 20px;
    }
    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }

  .feedback-form {
    width: 60%;
    padding: 0;
    .feedback-form__input {
      .form {
        input {
          width: 170px;
          height: 40px;
          @media (max-width: @screen-xs-max) {
            width: auto;
            margin-top: 10px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .feedback-form__textarea {
      textarea {
        height: 120px;
      }
      .send-form-data {
        font-size: 14px;
      }
    }
    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }

  /* and contact md*/
  /* md restaurants*/
  .restaurant-head__info {
    padding: 40px 70px 0;
    margin-top: 15%;
    height: 190px;
    @media (max-width: @screen-xs-max) {
      margin-top: 170px;
    }
  }

  .c-section-head__square {
    width: 180px;
    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }

  .restaurant-img__info-left, .restaurant-img__info-right {
    left: -335px;
    top: 284px;
  }

  .restaurant-img__info-right {
    left: 360px;
    top: 284px;
  }

  .restaurant-img__info-left {
    hr {
      width: 106px;
    }
    #karaoke-line {
      width: 140px;
    }
  }

  .c-competence-img {
    width: 610px;
    height: 410px;
    @media (max-width: @screen-xs-max) {
      width: 100%;
      height: 210px;
      float: none;
    }
  }

  .competence-decor__right {
    right: -130px;
    @media (max-width: @screen-xs-max) {
      width: 103.5%;
      height: 210px;
      left: -5px;
      bottom: -5px;
    }
  }

  .restaurant-info {
    font-size: 16px;
  }

  .c-restaurant-desc {
    margin: 0 0 0 40px;
    @media (max-width: @screen-xs-max) {
      padding: 0;
      margin: 0;
    }
  }

  .restaurant__inline-attributes {
    margin: 0 0 0 40px;
  }

  /* service md */
  .section-service {
    height: 100vh;
    @media (max-width: @screen-xs-max) {
      height: auto;
    }
  }

  .service-content-info {
    width: 50%;
    @media (max-width: @screen-xs-max) {
      width: 100%;
      flex-direction: column;
      margin: 20px 0;
    }
  }

  .competence__inline-attributes .room-action {
    justify-content: space-between;
  }

  .c-container-attributes {
    left: -15px;
    @media (max-width: @screen-xs-max) {
      left: 0;
      padding: 15px;
    }
  }

  .c-section-head-rooms-item {
    margin-bottom: 80px;
    h3 {
      @media (max-width: @screen-xs-max) {
        font-size: 22px;
        line-height: 36px;
        text-align: center;
      }
    }
    @media (max-width: @screen-xs-max) {
      margin-bottom: 20px;
    }
  }

  .section-rest-image {
    @media (max-width: @screen-xs-max) {
      height: auto !important;
      flex-direction: column;
      width: 100%;
    }
  }

  .c-header__info {
    margin-left: 32%;
  }

}

#studio, #representative, #apartment, #presidential {
  @media (max-width: @screen-xs-max) {
    display: block !important;
  }
}

.c-section-order-form {
  margin-top: 90px;
  font-family: @AvenirNextCyr-Regular;
  font-size: 16px;
  h1 {
    font-family: @TrajanPro3Regular;
    font-size: 30px;
    letter-spacing: 0.140em;
    color: #afa18f;
    margin-top: 90px;
    @media (max-width: @screen-xs-max) {
      font-size: 22px;
    }
  }
  h4 {
    color: #111111;
    margin-bottom: 50px;
    @media (max-width: @screen-xs-max) {
      text-align: center;
    }
  }
  input {
    margin-right: 15px;
    position: relative;
    top: -2px;
  }
  .radio {
    input {
      display: none;
    }
  }
  .form-check-input [type="radio"] {
    position: absolute;
    opacity: 0;
  }
  .form-check-input[type="radio"] + .radio-label:before {
    content: '';
    background: #fff;
    border-radius: 100%;
    border: 1px solid #dfdfdf;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 15px;
    transition: all 250ms ease;
  }
  .form-check-input[type="radio"]:checked + .radio-label:before {
    background-color: #afa18f;
    box-shadow: inset 0 0 0 4px #fff;
  }

  .row-eat {
    width: 50%;
    label {
      margin: 0;
    }
    @media (max-width: @screen-xs-max) {
      width: 90%;
      justify-content: space-around !important;
    }
  }
  .image {
    margin: 30px 0 60px 0;
    @media (max-width: @screen-xs-max) {
      text-align: center !important;
    }
  }
  img {
    width: max-content;
    object-fit: contain;
  }
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    display: none;
  }

  [type="checkbox"]:checked + label,
  [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 20px;
  }

  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #dfdfdf;
  }

  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #afa18f;
    position: absolute;
    top: 4px;
    left: 4px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/arrow-select.png) 90% no-repeat #fff;
    outline: none;
    box-shadow: none;
    margin: 20px 0;
  }
  span {
    font-size: 14px;
  }

  .select-day, .select-time {
    height: 40px;
    border: 1px solid #dfdfdf;
    padding: 0 10px;
    position: relative;
    top: -2px;
    font-family: @AvenirNextCyr-Regular;
    font-size: 14px;
  }
  .select-time {
    width: 100px;
    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }
  .select-time:first-child {
    margin-right: 30px;
  }
  .select-date {
    margin: 20px 150px 20px 0;
    &:focus {
      border: 1px solid #afa18f;
      box-shadow: none;
      outline: none;
    }
  }

  input[type=date] {
    font-size: 14px;
    width: 234px;
    height: 40px;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    padding: 0.5rem;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1.75em;
    position: relative;
    background-size: 1rem;
    font-family: @AvenirNextCyr-Regular;
    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
  }
  input[type=date]::-webkit-clear-button, /* blue cross */
  input[type=date]::-webkit-inner-spin-button, /* up */
  input[type=date]::-webkit-outer-spin-button /* down */ {
    display: none;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 5px;

  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5
  }

  input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    opacity: 0.8
  }
  .d-column, .d-column-order {
    @media (max-width: @screen-xs-max) {
      flex-direction: column;
      height: 280px;
    }
  }
  .d-column {
    @media (max-width: @screen-xs-max) {
      flex-direction: column;
      height: auto;
    }
  }
  .order-rectangle {
    width: 357px;
    height: 352px;
    background-color: #dbc8ac;
    position: absolute;
    z-index: -1;
    left: -10%;
    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }
  .order-feedback-form {
    height: 450px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: @screen-xs-max) {
      height: auto;
    }
  }
  .order-inputs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    background: #fff;
    height: 280px;
    padding: 40px;
    h3 {
      color: #111111;
      @media (max-width: @screen-xs-max) {
        font-size: 18px;
      }
    }
    @media (max-width: @screen-xs-max) {
      padding: 15px;
      height: auto;
    }
  }
  .item-input {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    height: 140px;
    padding: 0;
    label {
      font-family: @AvenirNextCyr-Regular;
      font-size: 14px;
      transition: all .3s ease;
    }
    .order-input {
      width: 280px;
      height: 50px;
      border: 1px solid #c0b19c;
      padding: 15px 15px;
      font-family: @AvenirNextCyr-Regular;
      font-size: 14px;
      &:focus {
        outline: none;
        box-shadow: none;
        border: 2px solid #afa18f;
      }
      &:focus + label {
        color: #afa18f;
      }
    }
    a {
      margin-top: 20px;
      color: #111111;
      width: max-content;
      &:hover {
        color: #111111;
      }
      @media (max-width: @screen-xs-max) {
        width: 100%;
        text-align: center;
      }
    }
    a::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      margin-top: 5px;
      background: #dbc8ac;
      transition: width .4s ease;
    }

    a:hover::after {
      width: 100%;
    }
  }

}
