/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/**********
iPad 3
**********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* Desktops and laptops ----------- */

/* macbook (1280)* ----------- */

@media only screen  and (min-width: 1224px) and (max-width: 1280px) {

  .c-container {
    width: 80%;
    max-width: 80%;
  }

  /* - index page - */
  .about-rooms__info {
    .room-title {
      font-size: 15px;
    }
  }

  .business-img__info-left {
    left: -250px;
    top: 232px;
  }

  .business-img__info-right {
    left: 290px;
    top: 231px;
  }

  .bus-decor__left {
    width: 670px;
    left: -128px;
  }

  .bus-decor__right {
    width: 750px;
  }

  .c-attributes-img {
    width: 483px;
  }

  /* - about - */
  .section-rest-image {
    width: 90%;
    height: 40vh;
  }

  /* - business page - */
  .competence-img__info-left {
    left: -330px;
    top: 283px;
    hr {
      width: 190px;
    }
    #decision-hall {
      width: 180px;
    }
    #fortune-hall {
      width: 167px;
    }
  }

  .competence-decor__left {
    width: 942px;
  }

  .competence-decor__right {
    width: 770px;
  }

  .competence-img__info-right {
    left: 340px;
    top: 283px;
    #small-hall {
      width: 225px;
    }
    #meeting-hall {
      width: 164px;
    }
    #classic-hall {
      width: 149px;
    }
  }

  .c-competence-desc {
    p {
      font-size: 14px;
    }
  }

  .c-competence-desc {
    padding-top: 0;
    margin: 0 0 0 40px;
  }

  .competence__inline-attributes {
    font-size: 14px;
    margin: 0 0 0 40px;
  }

  .c-section-competence__info .c-info {
    margin-top: 220px;
  }

  /* - rests - */
  .restaurant-desc {

    p {
      font-size: 14px;
    }
  }

  .c-restaurant-desc {
    padding-top: 0;
    p {
      font-size: 14px;
    }
  }
  .restaurant__inline-attributes {
    font-size: 14px;
  }
  .restaurant-img__info-left {
    hr {
      width: 106px;
    }
  }
  .restaurant-img__info-right {
    left: 340px;
    top: 284px;
    #beer-line {
      width: 207px;
    }
  }

}

/* macbook (1440px)* ----------- */

@media only screen  and (min-width: 1281px) and (max-width: 1600px) {
  /* - index page - */
  .c-container {
    width: 62.5%;
    max-width: 100%;
  }

  .business-img__info-left {
    left: -240px;
    top: 200px;
    hr {
      width: 170px;
    }
    #hr-food {
      width: 225px;
    }
  }

  .business-img__info-right {
    left: 260px;
    top: 202px;
    #hr-holiday {
      width: 184px;
    }
    #hr-city {
      width: 45px;
    }

  }

  .inline-attributes {
    width: 100%;
  }

  .bus-decor__left {
    left: -270px;
    width: 750px;
  }

  .bus-decor__right {
    width: 740px;
    right: -270px;
  }

  .c-attributes-img {
    width: 440px;
    height: 300px;
  }

  .s_offers {
    width: 63%;
  }

  .s_offers-slider__nav {
    bottom: 75px;
    left: 264px;
  }

  /* - about - */
  .section-rest-image {
    width: 80%;
    height: 40vh;
  }

  /* - business - */
  .c-container-competence {
    width: 80%;
  }

  .competence-img__info-left {
    left: -290px;
    top: 320px;
    hr {
      width: 193px;
    }
    #decision-hall {
      width: 183px;
    }
    #fortune-hall {
      width: 170px;
    }
  }

  .competence-img__info-right {
    left: 380px;
    top: 320px;
    #small-hall {
      width: 228px;
    }
    #meeting-hall {
      width: 165px;
    }
    #classic-hall {
      width: 151px;
    }
  }

  .competence-decor__left {
    width: 866px;
    left: -145px;
  }

  .competence-decor__right {
    width: 770px;
    right: -130px;
  }

  .c-competence-desc {
    padding-top: 0;
    margin: 0 0 0 40px;
    p {
      font-size: 14px;
    }
  }

  .c-section-competence__info .c-info {
    margin-top: 220px;
  }

  .competence__inline-attributes {
    font-size: 14px;
  }
  /* - rests - */
  .restaurant-desc {

    p {
      font-size: 14px;
    }
  }

  .c-restaurant-desc {
    padding-top: 0;
    p {
      font-size: 14px;
    }
  }
  .restaurant__inline-attributes {
    font-size: 14px;
  }
  .restaurant-img__info-left {
    left: -290px;
    top: 320px;
    hr {
      width: 110px;
    }
  }
  .restaurant-img__info-right {
    left: 380px;
    top: 320px;
    #beer-line {
      width: 207px;
    }
  }

  /* - spa - */

  .section-rest-image {
    width: 80%;
    height: 40vh;
  }
  /* rests-item */
  .item-info__description {
    h4 {
      margin-top: 0;
    }
  }
  .s_offers {
    width: 60%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}