/*! HTML5 Boilerplate v6.0.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Imports
   ========================================================================== */
@import "fonts.less";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   custom styles
   ========================================================================== */

a {
  color: #000;
  transition: all 400ms ease;
  outline: none !important;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active, &:focus {
    outline: none !important;
    text-decoration: none;
  }
}

h3 {
  color: #afa18f;
  font-family: @TrajanPro3Regular;
  font-size: 30px;
  line-height: 63px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.14em;
}

p {
  font-size: 14px;
  font-family: @AvenirNextCyr-Regular;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  background: #fff;
}

.c-section {
  height: 100vh;
}

.section-intro {
  margin-top: 90px;
}

.section-sophistication {
  height: 50vh;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.section-rooms {
  display: flex;
  align-items: center;
}

.c-container {
  max-width: 62.5%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active  {
  background: #ede3d5;
  outline: none;
  display: block;
  &:hover  {
    background: #ede3d5;
  }
}
/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: #fff;
  z-index: 999;
}

.c-header__logo {
  width: 90px;
  height: 90px;
  background-color: #dbc8ac;
  display: -webkit-inline-flex;
  float: right;
  margin-right: 163px;
}

.c-header__lang {
  display: -webkit-inline-flex;
  align-items: center;
  float: right;
  margin-right: 60px;
  height: 90px;
}

.c-header__info {
  display: -webkit-inline-flex;
  align-items: center;
  height: 90px;
  margin-left: 23%;
  .info-description {
    font-family: @TrajanPro3Regular;
    font-size: 20px;
    color: #111;
    letter-spacing: 0.14em;
  }
}

.c-header__collapse-menu {
  display: -webkit-inline-flex;
  align-items: center;
  float: left;
  margin-left: 142px;
  height: 90px;
  width: 14px;
  background-image: url(../img/menu.png);
  background-repeat: no-repeat;
  background-position-y: center;
  #menuToggle {
    display: block;
    position: fixed;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menu {
    position: absolute;
    width: 100vw;
    height: 110vh;
    margin: -60px 0 0 -140px;
    padding: 50px;
    padding-top: 125px;
    background: rgba(236, 240, 241, 0.97);;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    text-align: center;

  }

  #menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }
}

.c-header__collapse-menu:after {
  background-image: url(../img/close-menu.png);
  background-repeat: no-repeat;
  background-position-y: center;
}

.lang-item {
  line-height: 90px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: @AvenirNextCyr-Regular;
  padding: 0 10px;
  &:hover {
    color: #afa18f;
  }
}

.c-introduction {
  height: 215px;
  background-color: #fff;
  float: left;
  width: 550px;
  position: absolute;
  padding-left: 50px;
  padding-right: 62px;
  padding-bottom: 47px;
  padding-top: 45px;
  margin-top: 200px;
  margin-left: 142px;
  z-index: 998;
}

.c-introduction-desc {
  font-size: 14px;
  line-height: 22px;
  font-family: @AvenirNextCyr-Regular;
  margin-bottom: 43px;
  letter-spacing: 0.04em;
}

.c-info__action {
  font-family: @AvenirNextCyr-Regular;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.04em;
  a {
    display: inline-block;
  }

  a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    margin-top: 5px;
    background: #dbc8ac;
    transition: width .4s ease;
  }

  a:hover::after {
    width: 100%;
  }
}

.owl-carousel {
  width: inherit;
}

.intro-slider {
  height: 75vh;
  width: 70%;
  float: right;
}

.fadeOut {
  width: 100%;
}

.intro-slider-item {
  background: url(../img/introduction1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
  width: 100%;
  float: right;
}

.intro-slider-item__second {
  background: url(../img/house1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
  width: 100%;
  float: right;
}

.intro-slider-item__third {
  background: url(../img/house2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
  width: 100%;
  float: right;
}

.c-social {
  float: left;
  width: 30%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 997;
  background: #fff;
  margin-top: 90px;
}

.c-social__item {
  width: 24px;
  height: 24px;
  margin-top: 28px;
  margin-left: 141px;
  .ico-social {
    position: absolute;
    height: 26px;
    width: 26px;
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 300ms ease;
    border: 1px solid transparent;
    border-radius: 100px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }
  }
  .fb {
    background-image: url(../img/ico-fb.png);
  }
  .inst {
    background-image: url(../img/ico-inst.png);
  }
  .vk {
    background-image: url(../img/ico-vk.png);
  }
}

.intro-slider__nav {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 998;
  .nav-prev, .nav-next {
    width: 40px;
    height: 40px;
    background: #dbc8ac;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    cursor: pointer;
    &:hover {
      background: #978675;
    }
    .arrow-next, .arrow-prev {
      position: absolute;
      height: 16px;
      width: 9px;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .arrow-next {
      background: url(../img/nav-next.png);
    }
    .arrow-prev {
      background: url(../img/nav-prev.png);
    }

  }
}
.room-slider__nav {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  position: absolute;
  bottom: -20px;
  right: 0;
  z-index: 998;
  .nav-prev, .nav-next {
    width: 40px;
    height: 40px;
    background: #dbc8ac;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    cursor: pointer;
    &:hover {
      background: #978675;
    }
    .arrow-next, .arrow-prev {
      position: absolute;
      height: 16px;
      width: 9px;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .arrow-next {
      background: url(../img/nav-next.png);
    }
    .arrow-prev {
      background: url(../img/nav-prev.png);
    }

  }
}

.bg-logo {
  display: inline-flex;
  position: absolute;
  background-image: url(../img/mirage.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 141px;
  width: 720px;
  height: 600px;
}

.c-section-info {
  width: 50%;
  position: relative;
  z-index: 997;
  .c-info {
    width: 70%;
    margin: 0 auto;
  }
}

.c-block-img {
  width: 50%;
  position: relative;
}

.sophistication-img {
  background-image: url(../img/soph.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 577px;
  height: 385px;
  float: right;
  position: relative;
  z-index: 997;
}

.soph-decor {
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 149px;
  height: 153px;
  opacity: 0.2;
  border: 9px solid #dbc8ac;
}

.nav-rooms {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 560px;
  width: 535px;
  z-index: 997;
  background: #fff;
  justify-content: center;
  .wrap-btn {
    cursor: pointer;
    transition: all 400ms ease;
    .tablink {
      height: 100px;
      width: 418px;
      margin-left: 117px;
      border: none;
      outline: none;
      background: transparent;
      text-align: left;
      border-bottom: 1px solid #f6f1ea;
      font-family: @TrajanPro3Regular;
      color: #000000;
      padding: 10px 0 0;
      transition: all .3ms ease;
      cursor: pointer;
      letter-spacing: 0.14em;
      span {
        display: flex;
        font-family: @AvenirNextCyr-Regular;
        font-size: 14px;
        line-height: 34px;
        opacity: .3;
        letter-spacing: normal;
      }
    }
    &:hover  {
      background: #f4eee6;
    }
  }
}

.c-rooms {
  height: 75vh;
  width: 75%;
  float: left;
}
.about-rooms {
  width: 451px;
  height: 740px;
  background: #514947;
  opacity: .6;
  position: absolute;
  left: 141px;
  z-index: 997;

}
.about-rooms__info {
  margin: 40px 50px 0 50px;
  position: absolute;
  z-index: 998;
  left: 141px;
  width: 351px;
  height: 664px;
  color: #fff;
  .room-title {
    font-family: @TrajanPro3SemiBold;
    font-size: 20px;
    line-height: 34px;
    width: 80%;
    margin-bottom: 45px;
    letter-spacing: 0.14em;
    min-height: 68px;
  }
  .room-price {
    font-family: @AvenirNextCyr-Regular;
    font-size: 22px;
    font-weight: 400;
    line-height: 50px;
    opacity: .5;
    letter-spacing: 0.04em;

  }
  .room-area {
    font-family: @AvenirNextCyr-Medium;
    font-size: 18px;
    line-height: 50px;
    position: absolute;
    bottom: 270px;
    letter-spacing: 0.04em;

  }
  .room-description {
    font-family: @AvenirNextCyr-Regular;
    font-size: 14px;
    line-height: 22px;
    position: absolute;
    bottom: 175px;
    letter-spacing: 0.04em;
  }
  .room-action {
    font-family: @AvenirNextCyr-Medium;
    font-size: 16px;
    line-height: 50px;
    position: relative;
    bottom: -375px;
    display: flex;
    justify-content: flex-start;
    letter-spacing: 0.04em;
    a {
      color: #fff;
      margin-right: 60px;
    }
    a::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: #dbc8ac;
      transition: width .4s ease;
    }

    a:hover::after {
      width: 100%;
    }
  }
}

/* ==========================================================================
   Header end
   ========================================================================== */

/* ==========================================================================
   Icons
   ========================================================================== */
.i-logo {
  background-image: url(../img/logo.png);
  position: absolute;
  height: 90px;
  width: 90px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  display: inline-block;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
