@import url(reset.css);

.head{
    max-width: 1920px;
    min-height: 420px;
    margin: 0 auto;
}

    .head h1{
        font-size: 60px;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
        padding-top:50px;
        color: beige;
    }
    .head h2{
        font-size: 24px;
        color: beige;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
        text-align: center;
    }
.content{
    max-width: 920px;
    padding: 20px;
    margin: 0 auto;
}

.content p{
    font-size: 24px;
    color: #3d3d3d;
    padding: 20px;
    background: #e6e6e6;
    border-radius: 5px;
    margin-bottom: 20px;
}